body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s;
  color: #003d80;
}
header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
}
header img {
  width: 200px;
  height: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.half {
  flex: 1;
  padding: 20px;
}
.full {
  flex-basis: 100%;
  padding: 20px;
}
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
@media (max-width: 768px) {
  .half {
    flex-basis: 100%;
  }
}
button {
  cursor: pointer;
  background-color: #003d80;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
}
button:hover {
  background-color: #0050a0;
}
.hidden {
  display: none;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
.dark-mode header,
.dark-mode footer {
  background-color: #444;
}

